@model DbNetSuiteCore.ViewModels.FormViewModel
@using System.Data
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models
@using MongoDB.Bson
@using Microsoft.AspNetCore.Html
@using System.Text.Json
@using DbNetSuiteCore.Constants
@using DbNetSuiteCore.Extensions
@using DbNetSuiteCore.Enums
@using System.Text.Encodings.Web

<div class="form-and-toolbar flex flex-col gap-2" id="@Model.HxIdTarget.Replace("#","")">
    @if (Model.FormModel.ToolbarPosition != ToolbarPosition.Bottom && Model.HideToolbar == false)
    {
        @await Html.PartialAsync("Form/__Toolbar")
    }
    @if (string.IsNullOrEmpty(Model.FormModel.Caption) == false)
    {
        <div class="flex text-lg caption">@Model.FormModel.Caption</div>
    }
    <div class="form-body flex" data-currentrecord="@Model.CurrentRecord" data-recordcount="@Model.RecordCount" data-unappliedmessage="@ResourceHelper.GetResourceString(ResourceNames.UnappliedChanges)" data-mode="@Model.Mode" data-validationpassed="@Model.FormModel.ValidationPassed" data-committype="@Model.CommitType" data-id="@TextHelper.ObfuscateString(JsonSerializer.Serialize(Model.RecordId))">

        <div class="gap-2 my-2" style="display:grid;grid-template-columns: repeat(@(Model.FormModel.LayoutColumns), auto)">
            @foreach (FormColumn formColumn in Model.Columns.Where(c => c.DataOnly == false))
            {
                var columnValues = Model.GetColumnValues(formColumn);

                <div style="display:grid;grid-column:span @(formColumn.ColSpan);grid-row:span @(formColumn.RowSpan);" class="content-start">
                    @{
                        @formColumn.RenderLabel(Model.FormModel)
                        @formColumn.RenderControl(columnValues.Value, columnValues.Key, Model.FormModel)
                    }
                </div>
            }
        </div>
        <div>
            @foreach (FormColumn formColumn in Model.Columns.Where(c => c.DataOnly == true))
            {
                var columnValues = Model.GetColumnValues(formColumn);
                @formColumn.RenderControl(columnValues.Value, columnValues.Key, Model.FormModel)
            }
        </div>
        @await Html.PartialAsync("Form/__Hidden", Model.FormModel)
        @if (Model.FormModel.IsLinked)
        {
            <input type="hidden" name="@TriggerNames.ParentKey" hx-trigger="changed" hx-post="@Model.SubmitUrl" hx-target="@Model.HxTarget" hx-swap="innerHTML" hx-indicator="next .htmx-indicator" value="@Model.FormModel.ParentKey" />
        }
       
    </div>
    @if (Model.FormModel.ToolbarPosition == ToolbarPosition.Bottom && Model.HideToolbar == false)
    {
        @await Html.PartialAsync("Form/__Toolbar")
    }
    @{
        HtmlString highlightAttr = new HtmlString("");
        if (string.IsNullOrEmpty(Model.FormModel.Message))
        {
            Model.FormModel.Message = "&nbsp;";
        }
        else
        {
            highlightAttr = RazorHelper.Attribute("data-highlight", Model.FormModel.MessageType.ToString().ToLower());
        }

        <div id="form-message" class="flex border rounded border-slate-300 p-1" @highlightAttr>@Html.Raw(Model.FormModel.Message)</div>
    }

    @await Html.PartialAsync("__LicenseInfo", Model.FormModel.LicenseInfo)
</div>