@model DbNetSuiteCore.ViewModels.FormViewModel
@using System.Data
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models
@using Microsoft.AspNetCore.Html
@using System.Text.Json
@using DbNetSuiteCore.Constants
@using DbNetSuiteCore.Extensions
@using DbNetSuiteCore.Enums

<div class="form-and-toolbar">
    @if (Model.FormModel.ToolbarPosition != ToolbarPosition.Bottom)
    {
        @await Html.PartialAsync("Form/Toolbar")
    }
    <div class="form-body" data-currentrecord="@Model.CurrentRecord" data-recordcount="@Model.RecordCount" data-unappliedmessage="@ResourceHelper.GetResourceString(ResourceNames.UnappliedChanges)" data-mode="@Model.FormModel.Mode" data-validationpassed="@Model.FormModel.ValidationPassed">
        <div class="gap-2 my-2" style="display:grid;grid-template-columns: repeat(4, auto)">
            @foreach (FormColumn formColumn in Model.Columns)
            {
                object value = null;
                object dbValue = null;

                if (Model.FormModel.Mode == FormMode.Update)
                {
                    DataColumn? dataColumn = Model.GetDataColumn(formColumn);
                    dbValue = dataColumn == null ? string.Empty : Model.Record[dataColumn];
                }

                if (Model.FormModel.Mode == FormMode.Insert)
                {
                    dbValue = formColumn.InitialValue;
                }

                value = dbValue;

                if (Model.FormModel.FormValues.Keys.Contains(formColumn.ColumnName))
                {
                    value = Model.FormModel.FormValues[formColumn.ColumnName];
                }

                <div style="display:grid;grid-template-columns: repeat(1, auto)">
                    @{
                        FormControl(formColumn, value, dbValue);
                    }
                </div>
            }
        </div>
        @await Html.PartialAsync("Form/Hidden", Model.FormModel)
    </div>
    @if(Model.FormModel.ToolbarPosition == ToolbarPosition.Bottom)
    {
        @await Html.PartialAsync("Form/Toolbar")
    }
    @{
        HtmlString highlightAttr = new HtmlString("");
        if (string.IsNullOrEmpty(Model.FormModel.Message))
        {
            Model.FormModel.Message = "&nbsp;";
        }
        else
        {
            highlightAttr = RazorHelper.Attribute("data-highlight", Model.FormModel.MessageType.ToString().ToLower());
        }

        <div id="form-message" class="border rounded border-slate-300 p-1 my-1" @highlightAttr>@Html.Raw(Model.FormModel.Message)</div>
    }
</div>


@functions {
    public void FormControl(FormColumn formColumn, object value, object dbValue)
    {
        <label for="@(formColumn.ColumnName)" class="font-bold text-slate-800">@formColumn.Label</label>

        var attributes = new Dictionary<string, string>();
        attributes["name"] = $"_{formColumn.ColumnName}";
        attributes["data-value"] = $"{dbValue}";
        attributes["data-datatype"] = formColumn.DataTypeName;
        attributes["class"] = Classes(formColumn);
        attributes["value"] = $"{value}";
        attributes["data-error"] = formColumn.InError.ToString().ToLower();

        if (formColumn.DataTypeName == nameof(DateTime))
        {
            attributes["data-jsdate"] = $"{RazorHelper.JavaScriptDateTime((DateTime?)value)}";
        }

        if (formColumn.LookupOptions != null)
        {
            RenderSelect(formColumn, value, dbValue, attributes);
        }
        else if (formColumn.DataType == typeof(Boolean))
        {
            attributes.Remove("value");
            attributes.Remove("data-error");
            attributes["class"] = CheckboxClasses(formColumn);
            attributes["style"] = "transform: scale(1.5);margin-left:5px";

            bool boolValue = ComponentModelExtensions.ParseBoolean(value);
            <input type="checkbox" @RazorHelper.Attributes(attributes) @(CheckboxAttributes(formColumn, boolValue)) />
        }
        else
        {
            <input type="text" @RazorHelper.Attributes(attributes) @(Attributes(formColumn)) />
        }
    }

    void RenderSelect(FormColumn formColumn, object value, object dbValue, Dictionary<string, string>  attributes)
    {
        <select @RazorHelper.Attributes(attributes) @(Attributes(formColumn))>
            <option value=""></option>
            @foreach (var option in formColumn.LookupOptions)
            {
                <option value="@option.Key" @(option.Key == (value?.ToString() ?? string.Empty) ? "selected" : "")>@option.Value</option>
            }
        </select>
    }

    string CheckboxClasses(FormColumn formColumn)
    {
        List<string> classes = new List<string>() { "fc-control" };

        if (formColumn.ReadOnly)
        {
            classes.Add("readonly");
        }

        return string.Join(" ", classes);
    }

    string Classes(FormColumn formColumn)
    {
        List<string> classes = new List<string>() { "fc-control w-full" };
        if (formColumn.IsNumeric && formColumn.LookupOptions == null)
        {
            classes.Add("text-right");
        }

        if (formColumn.ReadOnly)
        {
            classes.Add("readonly");
        }

        return string.Join(" ", classes);
    }

    string Attributes(FormColumn formColumn)
    {
        List<string> attributes = new List<string>();
        if (formColumn.PrimaryKey || formColumn.Disabled || Model.FormModel.Mode == FormMode.Empty)
        {
            attributes.Add("disabled");
        }
        if (formColumn.Required)
        {
            attributes.Add("required");
        }
        if (formColumn.ReadOnly && formColumn.LookupOptions == null)
        {
            attributes.Add("readonly");
        }
        return string.Join(" ", attributes);
    }

    string CheckboxAttributes(FormColumn formColumn, bool boolValue)
    {
        List<string> attributes = new List<string>();
        if (formColumn.Disabled || Model.FormModel.Mode == FormMode.Empty)
        {
            attributes.Add("disabled");
        }

        if (boolValue)
        {
            attributes.Add("checked");
        }

        return string.Join(" ", attributes);
    }
}