@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models

@{
    Layout = null;
}

@{
    var customerColumns = new List<GridColumnModel>
    {
        new GridColumnModel("customerid", "CustomerID") {PrimaryKey = true },
        new GridColumnModel("firstname", "Forename"),
        new GridColumnModel("lastname", "Surname"),
        new GridColumnModel("email", "Email Address") {Format = "email" },
        new GridColumnModel("address", "Address"),
        new GridColumnModel("city", "City") { InitialSortOrder = SortOrder.Desc},
        new GridColumnModel("postalcode", "Post Code"),
    };

    var invoiceColumns = new List<GridColumnModel>
    {
        new GridColumnModel("invoiceid", "Invoice ID") {PrimaryKey = true },
        new GridColumnModel("customerid", "Customer ID") {ForeignKey = true },
        new GridColumnModel("invoicedate", "Date"),
        new GridColumnModel("billingaddress", "Address"),
        new GridColumnModel("billingcity", "City"),
        new GridColumnModel("billingstate", "State"),
        new GridColumnModel("billingcountry", "Country"),
        new GridColumnModel("billingpostalcode", "Post Code"),
    };

    var invoiceItemColumns = new List<GridColumnModel>
    {
        new GridColumnModel("invoicelineid", "Invoice Line ID"),
        new GridColumnModel("invoiceid", "Invoice ID") {ForeignKey = true },
        new GridColumnModel("trackid", "Track ID"),
        new GridColumnModel("unitprice", "Price"),
        new GridColumnModel("quantity", "Qty"),
    };

    var invoiceLineGridModel = new GridModel(DataSourceType.SQlite, "Chinook(sqlite)", "Invoice_items");
    invoiceLineGridModel.Columns = invoiceItemColumns;
    invoiceLineGridModel.Caption = "Invoice Lines";
    invoiceLineGridModel.PageSize = 5;
    invoiceLineGridModel.ToolbarPosition = ToolbarPosition.Hidden;

    var invoiceGridModel = new GridModel(DataSourceType.SQlite, "Chinook(sqlite)", "Invoices");
    invoiceGridModel.Columns = invoiceColumns;
    invoiceGridModel.LinkedGrid = invoiceLineGridModel;
    invoiceGridModel.Caption = "Invoices";
    invoiceGridModel.PageSize = 5;
    invoiceGridModel.ToolbarPosition = ToolbarPosition.Hidden;

    var customerGridModel = new GridModel(DataSourceType.SQlite, "Chinook(sqlite)", "Customers");
    customerGridModel.Columns = customerColumns;
    customerGridModel.LinkedGrid = invoiceGridModel;
    customerGridModel.PageSize = 5;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers</title>
    @DbNetSuiteCore.Resources.StyleSheet()
</head>
<body>
    <main style="padding:20px">
        @(await new DbNetSuiteCore.GridControl(HttpContext).Render(customerGridModel))
        @(await new DbNetSuiteCore.GridControl(HttpContext).Render(invoiceGridModel))
        @(await new DbNetSuiteCore.GridControl(HttpContext).Render(invoiceLineGridModel))
    </main>
    @DbNetSuiteCore.Resources.ClientScript()
</body>
</html>

