@page
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Web.Helpers
@using DbNetSuiteCore.Models

@{
    var ratings = new List<string> { "G", "NC-17", "PG", "PG-13", "R" };
}

<ul class="nav nav-tabs">
    @{
        foreach (string tab in ratings)
        {
            <li class="nav-item">
                <button class="nav-link @(tab == ratings.First() ? "active" : string.Empty)" id="@(tab)-tab" data-bs-toggle="tab" data-bs-target="#@(tab)-pane" type="button" role="tab" aria-controls="@tab" aria-selected="true">@tab</button>
            </li>
        }
    }
</ul>

<div class="tab-content" id="tabContent">
    @foreach (string tab in ratings)
    {
        <div class="tab-pane fade @(tab == ratings.First() ? "show active" : string.Empty)" id="@(tab)-pane" role="tabpanel" aria-labelledby="@(tab)-tab">
            @(await new DbNetSuiteCore.GridControl(HttpContext).Render(new GridModel(DataSourceType.SQLite, "Sakila(sqlite)", "Film join Language on Film.Language_id = language.language_id") { Columns = ColumnInfoHelper.FilmGridColumns(), FixedFilter = $"rating = '{tab}'", ViewDialog = true }))
        </div>
    }
</div>