@model DbNetTimeCore.Models.DataGrid
@using System.Data
@using DbNetTimeCore.Models
@using Microsoft.AspNetCore.Html

<tr class="form-row">
    <td colspan="@Model.ColSpan">
        <form name="edit-form">
            <div class="flex flex-col border-solid border-2 border-slate-300 bg-slate-100 rounded-md">
                <div class="flex m-2">

                    <table class="htmx-table">
                        <tbody>
                            @foreach (DataRow row in Model.Rows)
                            {
                                <tr>
                                    @foreach (DataColumn col in Model.Columns)
                                    {
                                        ColumnInfo? columnInfo = Model.GetColumnInfo(col);
                                        <th>@columnInfo.Label</th>
                                    }
                                </tr>
                                <tr>

                                    @foreach (DataColumn col in Model.Columns)
                                    {
                                        ColumnInfo? columnInfo = Model.GetColumnInfo(col);
                                        <td>
                                            @if (columnInfo.DataType == typeof(Boolean))
                                            {
                                                <input type="checkbox" class="checkbox checkbox-lg" @(IsBoolean(row[col]) ? "checked" : null) />
                                            }
                                            else
                                            {
                                                <input type="text" class="input input-bordered max-w-xs @columnInfo.ClassName" @(columnInfo.IsPrimaryKey ? "disabled" : null) value="@Html.Raw(row[col])" />
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <hr class="h-px my-1 bg-gray-200 border-0 dark:bg-gray-700">
                <div class="flex m-2 justify-end gap-4">
                    <div class="flex grow border-solid border-2 border-slate-300 bg-slate-100 rounded-md"></div>
                    <button class="btn btn-primary" type="button" hx-post="@Model.SaveUrl" hx-target="closest tr" hx-swap="innerHTML">Save</button>
                    <button class="btn" type="button" hx-post="@Model.SearchUrl" hx-target="#@Model.GridId" hx-swap="innerHTML">Cancel</button>
                </div>
            </div>
        </form>
    </td>
</tr>

@functions {
    bool IsBoolean(object value)
    {
        try
        {
            return Convert.ToBoolean(Convert.ToInt16(value));
        }
        catch
        {
            return false;
        }
    }
    void RenderNavButton(bool enable, string url, HtmlString icon, string title)
    {
        <button class="btn btn-sm p-1" type="button" title="@title" @(enable ? null : "disabled")>@icon</button>
    }
}