@model DbNetTimeCore.Models.DataGrid
@using System.Data
<tbody id="@Model.BodyId" data-url="@Model.BaseUrl" data-currentpage="@Model.CurrentPage" data-totalpages="@Model.TotalPages"> 
@foreach (DataRow row in Model.Rows)
{
    <tr>
        <td><input type="radio" name="rb" /></td>
        @foreach (DataColumn col in Model.Columns)
        {
            <td>@row[col]</td>
        }
    </tr>
}
</tbody>