@removeTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DbNetSuiteCore.ViewModels.GridViewModel
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Constants
@using Newtonsoft.Json
<form @RazorHelper.FormClassAttribute("grid", Model.ClassName) hx-post="@Model.PostUrl" hx-trigger="@Model.HxFormTrigger" hx-indicator="next .htmx-indicator" hx-target="this" id="@Model.Id" name="@TriggerNames.InitialLoad" style="@(Model.IsBlazor ? null : "display:none")" data-datasourcetype="@Model.DataSourceType">
    @await Html.PartialAsync("Grid/__Hidden",Model)
</form>
@await Html.PartialAsync("__HxIndicator")
<script>
    @if (Model.IsNested)
    {
        <text>DbNetSuiteCore.createClientControl('@(Model.Id)', @Html.Raw(JsonConvert.SerializeObject(Model.GridModel.ClientEvents))); </text>
    }
    else
    {
        <text>document.addEventListener("DOMContentLoaded", function () { DbNetSuiteCore.createClientControl('@(Model.Id)', @Html.Raw(JsonConvert.SerializeObject(Model.GridModel.ClientEvents)), @Model.GridModel.DeferredLoad.ToString().ToLower()); });</text>
    }
</script>