@model GridViewModel
@using System.Data
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.ViewModels
@using Microsoft.AspNetCore.Html
@using System.Text.Json
@using DbNetSuiteCore.Constants

<div class="flex flex-row gap-1 items-center bg-slate-50 border border-solid border-slate-300 rounded py-1 px-1">
    <input class="" style="width:10rem" autofocus type="search" placeholder="Search" aria-label="Search" name="searchInput" value="@Model.SearchInput" hx-post="@Model.SubmitUrl" hx-trigger="input changed delay:1000ms, search" hx-target="@Model.HxTarget" hx-indicator="next .htmx-indicator" hx-swap="outerHTML" />
    <!-- <button class="btn btn-sm mr-5 p-1" type="button" name="@(TriggerNames.Search)" hx-post="@Model.SubmitUrl" hx-target="@Model.HxTarget" hx-indicator="next .htmx-indicator" hx-swap="innerHTML" title="Search">@Html.Raw(IconHelper.Search())</button> -->

    <div id="no-records" class="p-1 rounded-md border border-solid border-sky-400 bg-sky-100 flex flex-row gap-2">
        @IconHelper.Info()
        <span>No records found</span>
    </div>
    <div id="navigation" class="flex flex-row gap-1 items-center @(Model.TotalPages == 0 ? "hidden" : "")">
        @{
            RenderNavButton(TriggerNames.First, IconHelper.First(), "First page");
            RenderNavButton(TriggerNames.Previous, IconHelper.Previous(), "Previous page");
            <span class="flex">Page</span>
            RenderPageNumber(Model.GridModel.CurrentPage, Model.TotalPages);
            <span class="flex">of</span>
            RenderTotalPages(Model.TotalPages);
            RenderNavButton(TriggerNames.Next, IconHelper.Next(), "Next page");
            RenderNavButton(TriggerNames.Last, IconHelper.Last(), "Last page");
        }

        <button class="" button-type="copy" type="button" title="Copy">@IconHelper.Copy()</button>
        <button class="" button-type="export" type="button" title="Export">@IconHelper.Download()</button>
        @{
            RenderExportOptions();
        }
    </div>
</div>

@functions {
    void RenderNavButton(string name, HtmlString icon, string title)
    {
        <button class="" type="button" button-type="@name" title="@title" hx-post="@Model.SubmitUrl" name="@name" hx-target="@Model.HxTarget" hx-indicator="next .htmx-indicator" hx-swap="outerHTML">@icon</button>
    }

    void RenderPageNumber(int pageNumber, int totalPages)
    {
        <select class="" name="@TriggerNames.Page" value="@pageNumber" hx-post="@Model.SubmitUrl" hx-target="@Model.HxTarget" hx-indicator="next .htmx-indicator" hx-swap="outerHTML" style="width:@(totalPages.ToString().Length + 2)em">
            @{
                for (var i = 1; i <= totalPages; i++)
                {
                    <option value="@i" @(i == pageNumber ? "selected" : string.Empty)>@i</option>
                }
            }
        </select>
    }

    void RenderTotalPages(int totalPages)
    {
        <input class="text-center" style="width:@(totalPages.ToString().Length + 1)em" readonly type="text" data-type="total-pages" value="@totalPages" />
    }

    void RenderExportOptions()
    {
        var options = new List<string>() { "CSV", "Excel", "HTML", "JSON" };
        <select class="" name="exportformat" style="width:5rem">
            @{
                foreach (var option in options)
                {
                    <option value="@option.ToLower()">@option</option>
                }
            }
        </select>
    }
    }