@model TQ.Models.GridModel
@using System.Text.Json
@using DbNetSuiteCore.Helpers
<form hx-post="gridcontrol.htmx" hx-trigger="load" hx-indicator="find .htmx-indicator" hx-target="this" id="@Model.Id">
    <input type="hidden" name="model" value="@TextHelper.ObfuscateString(JsonSerializer.Serialize(Model))">
    @await Html.PartialAsync("HxIndicator")
</form>

<script>
    @if (Model.IsNested == false)
    {
        <text>document.addEventListener("DOMContentLoaded", function () {
        </text>
    }
                document.addEventListener('htmx:afterRequest', function (evt) {
                    if (!gridControlArray["@(Model.Id)"]) {
                        var gridControl = new GridControl("@(Model.Id)");

    @{
        foreach (var clientEvent in Model.ClientEvents.Keys)
        {
            <text>gridControl.eventHandlers['@(clientEvent.ToString())'] = window.@(Model.ClientEvents[clientEvent]); </text>
        }
    }
                            gridControlArray["@(Model.Id)"] = gridControl;
                    }
                    gridControlArray["@(Model.Id)"].init(evt);
                });
    @if (Model.IsNested == false)
    {
        <text>}); </text>
    }
</script>