@model DbNetSuiteCore.Models.GridModel
@using System.Text.Json
@using DbNetSuiteCore.Helpers
<form class="dbnetsuite dbnetsuite-grid" hx-post="gridcontrol.htmx" hx-trigger="@Model.HxFormTrigger" hx-indicator="find .htmx-indicator" hx-target="this" id="@Model.Id">
    <input type="hidden" name="model" value="@TextHelper.ObfuscateString(JsonSerializer.Serialize(Model))">
    @await Html.PartialAsync("HxIndicator")
</form>

<script>
    var isNested = @(Model.IsNested.ToString().ToLower());
    if (isNested == false) {
        document.addEventListener("DOMContentLoaded", function () {
            DbNetSuiteCore.createGridControl('@(Model.Id)', @Html.Raw(JsonSerializer.Serialize(Model.ClientEvents)));
        });
    }
    else {
        DbNetSuiteCore.createGridControl('@(Model.Id)', @Html.Raw(JsonSerializer.Serialize(Model.ClientEvents)));
    }
</script>