@model DbNetSuiteCore.ViewModels.SelectViewModel
@using System.Data
@using DbNetSuiteCore.Helpers
@using DbNetSuiteCore.Models
@using DbNetSuiteCore.Enums
@using DbNetSuiteCore.Constants
@using DbNetSuiteCore.Extensions
@using Microsoft.AspNetCore.Html
@using System.Text.Json
@{
    var first = true;
    <select style="display:none">
        @if (Model.Rows.Count() > 0 && string.IsNullOrEmpty(Model.SelectModel.EmptyOption) == false)
        {
            <option value="">@Model.SelectModel.EmptyOption</option>
        }

        @foreach (DataRow row in Model.Rows)
        {
            DataColumn valueColumn = Model.ValueColumn;
            DataColumn descriptionColumn = Model.DescriptionColumn;

            var value = @row[valueColumn].ToString();
            var description = @row[descriptionColumn].ToString(); ;
            <option value="@value" @(first && Model.SelectFirstOption ? "selected" : null) @RazorHelper.DataAttributes(row)>@description</option>

            first = false;
        }
        @if (Model.Rows.Count() == 0)
        {
            <option disabled selected>@ResourceHelper.GetResourceString(ResourceNames.NoRecordsFound)</option>
        }
    </select>
}
@await Html.PartialAsync("Select/Hidden", Model.SelectModel)
@if (Model.SelectModel.IsLinked)
{
    <input type="hidden" name="@TriggerNames.LinkedGrid" hx-trigger="changed" hx-post="@Model.SubmitUrl" hx-target="closest div.target" hx-swap="innerHTML" hx-indicator="next .htmx-indicator" value="@Model.SelectModel.ParentKey" />
}